.log-in-title {
	font-family  : 'Roboto', sans-serif;
	font-style   : normal;
	font-weight  : 500;
	font-size    : 24px;
	line-height  : 28px;
	color        : #2BBEAA;
	margin-bottom: 20px;
}

.resetpassword.create-account {
	font-family: 'Roboto', sans-serif;
}

.right_box_container .signin-text {
	color      : #363F5E;
	font-size  : 16px;
	margin-top : 25px;
	font-weight: 500;
}

.red {
	color: red;
}

.resetpassword.create-account.gray a {
	text-decoration: none;
}

.social-btn {
	width      : 45%;
	font-weight: 600;
	font-size  : 16px;
	line-height: 19px;
	color      : #363F5E;
	padding    : 10px 0;
}

/* mobile-input  */
.react-tel-input {
	margin-bottom: 0px;
}

.react-tel-input .form-control {
	width: 100% !important;
}

.sml-size {
	font-weight: 500;
	font-size  : 10px;
	line-height: 12px;
	/* identical to box height */


	color     : #8F8799;
	margin-top: 3px;
	text-align: right;
}

.resend-otp {
	cursor              : pointer;
	/* font-family      : 'Roboto'; */
	font-style          : normal;
	font-weight         : 400;
	font-size           : 12px;
	line-height         : 14px;
	/* identical to box height */
	text-decoration-line: underline;
	color               : #FF0808;

}

.otp-input input {
	margin        : 5px;
	/* font-family: 'Roboto'; */
	width         : 50px !important;
	padding       : 10px 15px;
	font-style    : normal;
	font-weight   : 500;
	font-size     : 24px;
	line-height   : 28px;
	text-align    : center;
	border        : 1px solid rgba(54, 63, 94, 0.4);
	box-shadow    : 0px 6px 10px rgb(54 63 94 / 6%);
	border-radius : 6px;

}

.log-in-title.login-head svg {
	position: absolute;
	left    : -34px;
	cursor  : pointer;
}


.log-in-title.login-head {
	position: relative;
}

.auth_layout .left_box h3 {
	font-size : 20px;
	margin-top: 30px;
}



.auth_layout .left_box .carousel-indicators {
	position: absolute;
	right   : 0;
	bottom  : -44px;
}

.carousel-indicators [data-bs-target] {
	box-sizing      : content-box;
	flex            : 0 1 auto;
	width           : 10px;
	height          : 10px;
	padding         : 0;
	margin-right    : 3px;
	margin-left     : 3px;
	text-indent     : -999px;
	cursor          : pointer;
	background-color: #93E3D3;
	background-clip : padding-box;
	border          : 0;
	border-top      : 10px solid transparent;
	border-bottom   : 10px solid transparent;
	opacity         : 1;
	transition      : opacity 0.6s ease;
	border-radius   : 100% !important;
}

.carousel-indicators .active {
	background-color: #28C6A8
}

.gray {
	color: #8F8799 !important;
}

.form-group-1 .form-control {

	border       : 1px solid rgba(54, 63, 94, 0.4);
	border-radius: 6px;
	min-height   : 44px;
}

.react-tel-input .form-control {

	border       : 1px solid rgba(54, 63, 94, 0.4);
	border-radius: 6px;
	min-height   : 44px;
}

.react-tel-input .flag-dropdown {

	background-color: transparent !important;
	border          : 0 !important;
	border-radius   : 3px 0 0 3px !important;
}

.custom-check-label {
	font-weight: 400;
	font-size  : 12px;
	line-height: 14px;
	/* identical to box height */
	font-family: 'Roboto', sans-serif;

	color: #8F8799;
}

button.btn.btn-info {
	height: 44px;
}

.policy-terms.text-center.mt-4 {
	font-size  : 14px;
	line-height: 19px;
	text-align : center;
	color      : #8F8799;
	font-family: 'Roboto', sans-serif;

}

.policy-terms.text-center a {
	color: #F46A6A;
}

label.mb-3.mt-3.custom-check-lable {
	font-weight: 400;
	font-size  : 12px;
	line-height: 14px;
	color      : #8F8799;
}

.space-or span {

	border       : 1.47059px solid #363F5E;
	width        : 33px;
	height       : 33px;
	border-radius: 100px;
	display      : inline-block;
	line-height  : 33px;
}

.space-or:after {
	position  : absolute;
	content   : "";
	left      : 53px;
	width     : 100px;
	height    : 1px;
	top       : 17px;
	background: #363F5E;
}

.space-or:before {
	position: absolute;
	content : "";

	width     : 100px;
	height    : 1px;
	top       : 17px;
	background: #363F5E;
	right     : 55px;
}

.space-or {
	text-align: center;
	position  : relative;
}

label.mb-3.mt-3.custom-check-lable input {

	width        : 17px;
	height       : 17px;
	border-radius: 55px;
}

label.mb-3.mt-3.custom-check-lable {
	font-weight: 400;
	font-size  : 12px;
	line-height: 14px;
	color      : #8F8799;
	display    : flex;

	align-items: center;
}

.auth_form.otp-form p {
	font-weight: 400;
	font-size  : 14px;
	line-height: 16px;
	color      : #8F8799;
}

.right_box_container.right_box_infostudents .form-label {
	font-weight: 500;
	font-size  : 16px;
	line-height: 19px;
	color      : #363F5E;
	font-family: 'Roboto', sans-serif;
}

.right_box_container.right_box_infostudents label.form-check-label {

	font-size   : 12px;
	line-height : 14px;
	color       : #8F8799;
	padding-left: 7px;
	font-family : 'Roboto', sans-serif;
}

.right_box_container.right_box_infostudents .react-date-picker {
	display : inline-flex;
	position: relative;
	width   : 100%;
}

.right_box_container.right_box_infostudents .react-date-picker__wrapper {
	display      : flex;
	flex-grow    : 1;
	flex-shrink  : 0;
	border       : thin solid gray;
	border       : 1px solid rgba(54, 63, 94, 0.4);
	border-radius: 6px;
	min-height   : 44px;
	width        : 100%;
}

.right_box_container.right_box_infostudents .form-check-input {
	width     : 18px;
	height    : 18px;
	margin-top: 2px !important;

	border: 1px solid #363F5E;
}

.college-student .input-group {
	margin-bottom: 20px;
}

.right_box_container.right_box_infostudents .form-check {

	margin-bottom: 7px;
}

select.form-control {
	height       : 44px;
	border-radius: 6px !important;
}