.set-password {
    .log-in-title.login-head {
        margin-bottom: 15px !important;
    }

    .hint {
        color: #a59d9d;
    }

    .title {
        color: #5787E6;
        font-size: 24px;
    }

    .form-label {
        color: #363F5E;
        font-size: 16px;
    }

    .password-toggle {
        position: absolute;
        border: 1px solid black;
        right: 20px;
        top: 45%;
        transform: translateY(-70%);
    }
}


.password2-toggle {
    position: absolute;
    border: 1px solid black;
    right: 20px;
    top: 73%;
    transform: translateY(-70%);
}