.card-bg {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	margin: 20px 0;
	padding: 25px;
}

.card-bg .title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #0d0f25;
	margin-bottom: 12px;
}
.profile-bg-light {
	background: #ffffff;
}
.profile-bg-blue {
	background: #f0f4fd;
}



.profile-heading {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 48px;
	color: #333333;
}
.profile-background {
	background: #ffd6be;
	text-align: right;
	padding: 15px 25px 70px 15px;
}

.profile-info {
	display: flex;
	justify-content: space-between;
}
.profile-info-details {
	margin-top: 70px;
}
.profile-followers {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.profile-followers > div {
	padding: 0 15px;
	text-align: center;
}
.profile-followers h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 63px;
	color: #2163ea;
}
.profile-followers p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #555555;
}

.profile-company .city {
font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #323232;
}
.profile-company > div {
	margin-bottom: 100px;
}
.profile-picture img {
	position: absolute;
	width: 209.97px;
	height: 118px;
	top: 110px;
}
.profile-name {
	margin-top: 3px;
}
.profile-name h3 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.sign-up-social.profile-social {
	text-align: center;
	margin-top: 20px;
}

.sign-up-social.profile-social ul {
	display: flex;
	justify-content: center;
}

.sign-up-social.profile-social ul li {
	list-style: none;
	padding: 0 5px;
	display: flex;border: 0;
    margin: 0;
}
.sign-up-social.profile-social ul li img {
	width: 28.38px;
	height: 28.38px;
}

.sign-up-social.profile-social ul {
	margin: 0 -5px;
	margin-top: 10px;
	align-items: center;
	text-align: center;
	padding: 0;
}
.experience .company-name {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #838383;
}
.experience .designation {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #464647;
}

.text-dark-bold{
font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #838383;
}


/* projects  */
.project-description, .profile-company .job-type {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	color: #555555;
}

.profile-page {
    display: flex;
    flex-direction: row;    margin: 0 -20px;

}
.row-profile-left {
    max-width: 75%;
    flex: 0 0 75%; padding: 0 15px;
}
.row-profile-right {  max-width: 25%;
    flex: 0 0 25%;padding: 0 15px;}
	.white-box {
		box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
		border-radius: 35px;
		padding: 20px;    margin-bottom: 30px;
	}
	.color-info {
		background-color: var(--color-purple);
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 100px;
	}
	.profile-card-row.orange .color-info{ background-color: var(--color-orange);}
	.profile-card-row.orange a.btn.btn-info-colors{	background:var(--color-lightorange);
	color: var(--color-orange);font-weight: 600;}
	.white-box ul {
		margin: 0;
		padding: 0;
	}
	.profile-card-left p {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: #7A7884;
	}
	.profile-card-left h6 {
		font-weight: 600;
		font-size: 16px;
		line-height: 14px;
		
		margin-top: 10px;
    margin-bottom: 5px;
		
		color: #1B1C30;
	}
	.button-custom {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.btn-show-all {
		background: #FD9C41;
		border-radius: 100px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.profile-card-left h6  span{color:var(--yellow);}
	a.btn.btn-info-colors {
		background:var(--color-lightpurple);
		border-radius: 6px;
		padding: 3px 12px;
		font-size: 12px; color: var(--color-purple);font-weight: 600;
	}
	.profile-card-row {
		display: flex;
	}
	.profile-card-left {
		flex: 0 0 80%;
		max-width: 80%;
	}
	.profile-card-right {
		flex: 0 0 20%;
		max-width: 20%;
	}
	.white-box ul.list li {
		list-style: none;padding: 10px 20px;
	}
	.white-box ul.list li.active{background: #FFFFFF;
		box-shadow: 0px 8px 50px 10px #f2f2ff;
		border-radius: 6px;}
	.profile-information {background: #FFFFFF;
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
		border-radius: 6px;
		padding-bottom: 30px;}
		.white-box-list ul {
			margin: 0;
			padding: 0;
		}
		.white-box-list ul li {
			list-style: none;
		}
		.white-box-list li h4 {
			color: #1B1C30;
			font-size: 16px;
			font-weight: bold;
		}
		.white-box-list li img{ max-width: 100%;}
		.about-container{ background: #FFFFFF;
			box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
			border-radius: 6px;}