.account-settings {
    .right_box_container {
        max-width: 500px;
        padding-top: 20px;
    }
    .btn-secondary {
        width: 300px !important;
    }
    h6 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #363F5E;
    }
}