@function toRem($value) {
    $remValue: calc($value / 16) + rem;
    @return $remValue;
}

.bannerlable{
    font-family: "Roboto", Sans-serif;
    background: #FFCE6B;
    border-radius: 6px 0px 0px 6px;
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262935;
    padding: 5px 5px;
    border-color:  #FFCE6B; 
    // display: flex;
    // flex-direction: row; 
}

.bannerlabel_span + .bannerlabel_span::before{
        display: inline-block;
        white-space: pre;
        content: ", ";
}

.d-flex.align-items-center.mb-3.rating-sml {
    position: absolute;
    top: 25px;
    right: 8px;
    border: #FFCE6B solid 2px;
    border-radius: 6px;
    padding: 0 5px;
}

.body-course { position: relative;}
.record-time img{ width: 20px;}

.my-4.card-custom.card-expore.card .card-title {
    margin-right: 40px;
    height: 29px;
    margin-top: 20px;
}

.d-flex.record-time:after {
    position: absolute;
    content: "";
    right: -8px;
    top: -1px;
    width: 2px;
    height: 19px;
    background: #cdc9c9;

}
.d-flex.record-time { position: relative;}
.mb-2.card-subtitle.h6 {
    margin-top: 3px;
    color: #515151;
}

.highlight-list p {
    position: relative;
    padding-left: 22px;
}
.highlight-list p img {
    position: absolute;
    left: 0;
    top: 4px;
}
.highlight-list {
    min-height: 98px;
}

.d-flex.record-time{ margin-right: 15px;}
.d-flex.justify-content-between.mb-3.rate-container {
    justify-content: start !important;
}
.button-group .btn {
    font-size: 12px;
}
p.ms-2.mb-0.tags-course {
    font-size: 12px;
    display: flex;
    /* word-break: break-word; */
    white-space: nowrap;
}
p.ms-2.mb-0.live-screen {
    font-size: 11px;
    white-space: nowrap;
}
span.course-variant {
    color: #02A74D;
    font-weight: bold;
    margin-right: 6px;
}
.see-all a {
    color: #262626;
    text-decoration: none;
}

