.header {
    font-size: 40px;
}

.message1 {
    font-size  : 24px;
    font-weight: 600;
}

.message2,
.message3 {
    font-size: 20px;
}

.content-box {
    padding      : 20px 80px;
    border-radius: 10px;

    &.rejected {
        border: 1px solid #FF3838;
    }

    &.approved {
        border: 1px solid #2DD63E;
    }

    &.review {
        border: 1px solid #2DD63E;
    }
}