
.pricing-sec
{
  /* min-height: 500px; */
  background: #FFA775;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 1px;
}
.pricing-sec.blue-sec, .blue-sec .pricing-heading
{
  background: #5096EE;
}
.blue-sec .font-icon
{
  border: 1px solid #5096EE;
}

.pricing-sec.organge-sec, .organge-sec .pricing-heading
{
  background: #FD8948;
}
.organge-sec .font-icon
{
  border: 1px solid #FD8948;
}

.pricing-sec.lightblue-sec, .lightblue-sec .pricing-heading
{
  background: #33C9DB;
}
.lightblue-sec .font-icon
{
  border: 1px solid #33C9DB;
}

.pricing-sec-white
{
  /* min-height: 460px; */
  border-radius: 25px;
  margin: 5px 1px 1px 2px;
  padding: 0 25px 23px;
  background: #fff;
}
.pricing-heading
{
  background: #FFA775;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding: 0px 5px 5px;
  margin-bottom: 30px;
}
.icon
{
  background: #FFF;
  border-radius: 6px;
  /* padding: 6px 7px 1px;
  height: auto; */
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img
{
  width: 60%;
}
.title
{
  color: #FFF;
  font-family: "Roboto",Sans-serif;
  font-size: 23px;
  font-weight: 600;
  margin-left: 15px;
}
.title-h
{
  min-height: 70px;
}
.heading-title
{
  color: #333;
  font-family: "Roboto",Sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.title-text-sec
{
  padding: 12px 12px 12px 12px;
  background-color: #FBFBFB;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.title-text-sec ul
{
  margin: 15px 0px;
  padding: 0px;
}
.title-text-sec ul li
{
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-family: "Roboto",Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.font-icon
{
  padding: 8px 9px;
  margin-right: 10px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #FFA775;
  color: #FFA775;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.font-icon img
{
  width: 40px;
}
.show-all
{
  font-family: "Roboto",Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #003194;
  text-decoration: none;
}
.show-all:hover
{
  color: #003194;
}
.pay-heading
{
  color: #3A3A3A;
  font-family: "Roboto",Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 30px
}
.left_span 
{
  margin-right: 8px;
}
.span_bold {
  font-size: 28px;
  line-height: 35px;
}
.small-text
{
  color: #3A3A3A;
  font-family: "Roboto",Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.btn-sec
{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.btn-orange
{
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  background-color: #ED703A;
  border-radius: 7px 7px 7px 7px;
  padding: 10px 30px 10px 30px;
  color: #fff;
  text-decoration: none;
}
.btn-orange:hover
{
  color: #fff;
}
.strike
{
  color: #7777 !important;
    font-size: 16px;
    line-height: 20px;
    margin-right: 8px;
    font-weight: 500;
}
.tooltip-prices-new
{
  font-family: "Roboto",Sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #3A3A3A;
  background-color: #FFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #CBCBCB;
  border-radius: 5px 5px 5px 5px;
  padding: 7px 10px 7px 10px;
}
.income-btn
{
  margin-bottom:40px;
}
.current{
  position: relative;
}
.current::before
{
  content: "* Recommended";
    position: absolute;
    top: 37px;
    background: #ffa417;
    z-index: 1;
    left: 27%;
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    padding: 5px 17px;
    width: 143px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
    border-radius: 100px;
    border: 1px #fff solid;
}
